@import "../../css/colors.css";
@import "../../css/z-index.css";

.menu {
    position: absolute;
    z-index: $z-index-menu-bar;
    border: none;
    border-radius: 4px;
    background-color: $ui-secondary;
    padding: 4px 0;
    margin: 0;
    min-width: 186px;
    overflow: visible;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    backface-visibility: hidden;
    will-change: transform;
}

.menu.left {
    right: 0;
}

.menu.right {
    left: 0;
}

.menu-item {
    display: block;
    line-height: 30px;
    white-space: nowrap;
    padding: 0 12px;
    font-size: .75rem;
    margin: 0;
    font-weight: normal;
    position: relative;
    color: $text-primary;
}

.menu-item.active,
.menu-item:hover,
.menu-item.expanded {
    background-color: $ui-hover;
    color: $menu-bar-foreground;
}

.menu-item.hoverable {
    cursor: pointer;
}

.menu-section {
    margin-top: 4px;
    padding-top: 4px;
}

.menu-section:first-child {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
}

.submenu {
    display: none;
    position: absolute;
    top: -5px;
    min-width: 186px;
    height: max-content;
    overflow: hidden;
    border-radius: 4px;
}

.submenu.right {
    left: 100%;
}

.submenu.left {
    right: 100%;
}

.submenu > .menu {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: #555555 #2b251f;
    border-radius: 4px;
}

.menu-item.expanded > .submenu {
    display: block;
}

:not(:has(> .menu-item.expanded)) > .menu-item:hover > .submenu {
    display: block;
}

.submenu > .menu::-webkit-scrollbar {
    width: 10px;
}

.submenu > .menu::-webkit-scrollbar-track {
    background: #2b251f;
}

.submenu > .menu::-webkit-scrollbar-thumb {
    background-color: #555555;
    border-radius: 10px;
    border: 2px solid #2b251f;
}
