@import "../../css/colors.css";

.container {
    display: block;
    position: relative;
    padding: 1rem;
    margin: 1rem 0;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    background: none;
    width: 100%;
}
.container:focus-within {
    border-color: rgb(var(--mdui-color-primary, 103, 80, 164));
}
