@import "../../css/colors.css";

.progress-ring {
    margin: 0.5rem;
}

.progress-ring-svg {
    fill: transparent;
}

.progress-ring .progress-ring-ring {
    stroke: rgb(var(--mdui-color-surface-container-highest, 230, 224, 233));
}

.progress-ring .progress-ring-value {
    stroke: rgb(var(--mdui-color-primary, 103, 80, 164));
    stroke-linecap: round;
}
