@import "../../css/colors.css";

.modal-content::part(panel) {
    max-width: min(480px, calc(100vw - 2rem));
}

.body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.details {
    font-family: monospace;
    user-select: text;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.details::before, .details::after {
    content: '"';
}

.button {
    font: inherit;
    font-weight: bold;
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    background-color: $looks-secondary;
    color: white;
}
.button:disabled {
    opacity: 0.8;
}
