@import "../../css/colors.css";

.green {
    fill: rgb(var(--mdui-color-primary-container, 234, 221, 255));
    stroke: rgb(var(--mdui-color-primary, 103, 80, 164));
}

.yellow {
    fill: rgb(var(--mdui-color-tertiary-container, 255, 216, 228));
    stroke: rgb(var(--mdui-color-tertiary, 125, 82, 96));
}

.red {
    fill: rgb(var(--mdui-color-error-container, 249, 222, 220));
    stroke: rgb(var(--mdui-color-error, 179, 38, 30));
}

.mask-container {
    position: relative;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: top;
    will-change: transform;
    background: $ui-primary;
    opacity: 0.75;
}
